In [9]:
import pandas as pd
import numpy as np

In [3]:
sal=pd.read_csv("/content/Salaries.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [7]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [12]:
sal['BasePay']=pd.to_numeric(sal['BasePay'],errors='coerce')
sal['BasePay'].mean()

66325.4488404877

In [16]:
sal['OvertimePay']=pd.to_numeric(sal['OvertimePay'],errors='coerce')
sal['OvertimePay'].max()

245131.88

In [20]:
new=sal[sal['EmployeeName']=='JOSEPH DRISCOLL']

In [21]:
new['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [22]:
new['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [25]:
new1=sal[sal['TotalPayBenefits']==max(sal['TotalPayBenefits'])]

In [26]:
new1['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [27]:
new2=sal[sal['TotalPayBenefits']==min(sal['TotalPayBenefits'])]
new2['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [29]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [31]:
sal['JobTitle'].nunique()

2159

In [32]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [34]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

202

In [36]:
def chief_count(title):
  if 'chief' in title.lower().split():
    return True
  else:
    return False
sum(sal['JobTitle'].apply(lambda x:chief_count(x)))

477

In [40]:
sal["Title_len"]=sal["JobTitle"].apply(len)
sal[["Title_len","TotalPayBenefits"]].corr()

                  Title_len  TotalPayBenefits
Title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000